
.image{
   height: 400px;
  
   
  display: flex;
  justify-items: center;
   

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #5d6c77;
    font-family: Arial, sans-serif;
}


.login-card {
    background-color: #425364;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    width: 300px;
    height: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.login-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}


.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}


.input-container label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}


.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #333;
}


button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
