<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/stylesheet.css">

</head>

<body>
    <header>
        <nav>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href=""><img src="../images/user.png"></a></li>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to ower restaurant</h1>
            <p>Experience the Taste of Perfection</p>
            <a href="" class="btn">Our Menu</a>
        </div>
    </section>


    <section class="food">
        <h2 class="foodtypes">FOOD VARIETY</h2>
        <class class="circleplace">
            <div>
                <img class="circle" src="../images/rice.jpg">
                <h2 class="font">FRIED RICE</h2>
            </div>
            <div>
                <img class="circle" src="../images/spaghetti.png">
                <h2 class="font">SPAGHETTI</h2>
            </div>
            <div>
                <img class="circle" src="../images/mixed.jpg">
                <h2 class="font">MIXED VEG</h2>
            </div>
            <div>
                <img class="circle" src="../images/a.jpg">
                <h2 class="font">FRIED VEG</h2>
            </div>
        </class>
    </section>

    <section class="card-contant">
        <h2 class="foodtypes">BURGER</h2>
        <class class="card-line">
            <div CLASS="card">
                <img class="card-image" src="../images/burger1.jpg">
            </div>
            <div CLASS="card">
                <img class="card-image" src="../images/burger2.jpg">
            </div>
            <div CLASS="card">
                <img class="card-image" src="../images/burger3.jpg">
            </div>
            

        </class>
        <h2 class="font-card">Classic Hamburger</h2>
       
        <h2 class="font-card"> Veggie Burger</h2>
        <h2 class="font-card">Cheeseburger</h2>
    </section>



</body>

</html>